            html, body {
               height: 100%;  
            }
            #container {
              display: flex;
              align-items: center;
              background-color: lightblue;
              height: 100%;
            }
            svg {
              margin: 0 auto;
              display: block;
              background-color: white;
            }
            .bar:hover{fill:blue}